---
import Layout from "../layouts/Layout.astro";
import Benefits from "../sections/Benefits.astro";
import Contacto from "../sections/Contacto.astro";
import Data from "../sections/Data.astro";
import Footer from "../sections/Footer.astro";
import OffGrid from "../sections/OffGrid.astro";
import OnGrid from "../sections/OnGrid.astro";
import Data2 from "../sections/Data2.astro";
import HeroPage from "../components/HeroPage.astro";
import { Image } from "astro:assets";
import Hero from "../sections/Hero.astro";

const title = "Energia Riojana | Home";
---

<Layout title={title}>
	<Hero />

	<main class="flex flex-col gap-4 md:gap-0">
		<Benefits />
		<Data />
		<OnGrid />
		<OffGrid />
		<Data2 />
		<Contacto />
	</main>
	<Footer />
</Layout>
