---
import Layout from "../layouts/Layout.astro";
import Benefits from "../sections/Benefits.astro";
import Data from "../sections/Data.astro";
import Footer from "../sections/Footer.astro";
import Hero from "../sections/Hero.astro";
import OffGrid from "../sections/OffGrid.astro";
import OnGrid from "../sections/OnGrid.astro";
import NavBar from "../components/NavBar.astro";
import Data2 from "../sections/Data2.astro";

const title = "Energia Riojana | Home";
---

<Layout title={title}>
	<Hero />
	<main>
		<Benefits />
		<Data />
		<OnGrid />
		<OffGrid />
		<Data2 />
	</main>
	<Footer />
</Layout>
