---
import HeroPage from "../components/HeroPage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Energia Riojana | Institucional">
    <HeroPage
        titulo="Institucional"
        descripcion="informacion sobre la institucion"
        imagen="image_institucional.jpg"
    />
    <main>
        <h2>soy la web institucional</h2>
    </main>
</Layout>
