---
import { Image } from "astro:assets";
import image_card from "../assets/card-energia-riojana.png";
import Contact from "../components/Contact.astro";
---

<section
    class="p-4 md:p-8 bg-gray-100 rounded-2xl flex flex-col gap-2 md:gap-4 w-5/6 md:w-3/4"
>
    <article class="flex flex-col">
        <div
            class="flex flex-col md:flex-row gap-4 md:gap-12 items-center justify-center"
        >
            <div class="flex flex-col justify-center">
                <h1 class="text-4xl font-bold p-4">Contacto</h1>
                <p class="p-4">
                    dejanos tu mensaje y nos pondremos en contacto a la brevedad
                </p>
                <Contact />
            </div>
            <figure class="hidden md:block">
                <Image
                    src={image_card}
                    alt="imagen energia riojana"
                    width={450}
                />
            </figure>
        </div>
    </article>
</section>
