---
import { Image } from "astro:assets";
import divisor_arriba from "../assets/divisor_arriba.svg";
import divisor_abajo from "../assets/divisor_abajo.svg";
import icono_casco from "../assets/icono_casco.svg";
import icono_personas from "../assets/icono_personas.svg";
---

<section class="flex flex-col justify-center items-center text-white">
    <Image src={divisor_arriba} alt="divisor" class="w-full" />
    <article
        class="bg-primary_variant_1 w-full flex items-center justify-center py-16 md:py-0"
    >
        <div class="w-3/4 flex flex-col items-center justify-center gap-10">
            <div
                class="flex flex-col md:flex-row gap-10 items-center justify-center"
            >
                <Image src={icono_casco} alt="icono de lampara" />
                <div
                    class="flex flex-col md:flex-row gap-10 items-center justify-center"
                >
                    <span class="text-8xl font-black">+17</span>
                    <p class="text-xl">
                        Instalaciones de energía solar fotovoltaica en parajes
                        aislados de difícil acceso se realizaron con mano de
                        obra local.
                    </p>
                </div>
            </div>
            <div
                class="flex flex-col md:flex-row gap-10 items-center justify-center"
            >
                <Image src={icono_personas} alt="icono de lampara" />
                <div
                    class="flex flex-col md:flex-row gap-10 items-center justify-center"
                >
                    <span class="text-8xl font-black">+34</span>
                    <p class="text-xl">
                        Beneficiarios pueden hacer un reporte de su sistema
                        gracias a la capacitación modalidad domiciliaria.
                    </p>
                </div>
            </div>
        </div>
    </article>
    <Image src={divisor_abajo} alt="divisor" class="w-full" />
</section>
