---
import { getImage } from "astro:assets";
import imagen_hero from "../assets/image-hero.png";
const heroImage = await getImage({ src: imagen_hero });
/* 
console.log(heroImage); */
---

<section
    class="flex flex-col justify-center items-center h-screen bg-cover text-white"
    style=`background-image: url(${heroImage.src});`
>
    <article class="w-3/4">
        <h1 class="text-4xl md:text-6xl font-extrabold">
            Eficiencia energética y desarrollo ambiental sostenible
        </h1>
        <p class="md:text-xl">
            Promovemos el desarrollo sostenible de La Rioja
        </p>
    </article>
</section>
