<article class="w-5/6 md:w-3/4 p-4 md:p-8 flex flex-col gap-6 my-8">
    <div class="flex flex-col gap-2">
        <h1 class="text-5xl font-bold">¿Que hacemos?</h1>
        <p>
            En Energía Riojana SA desarrollamos proyectos integrales en el
            sector energético:
        </p>
    </div>
    <div class="flex flex-col md:flex-wrap gap-2 text-gray-800 font-medium">
        <p class="md:w-1/4 bg-gray-200 p-4 rounded-md text-sm">
            Construcción y operación de parques solares fotovoltaicos.
        </p>
        <p class="md:w-1/4 bg-gray-200 p-4 rounded-md text-sm">
            Implementación de sistemas de generación distribuida para hogares y
            empresas.
        </p>
        <p class="md:w-1/4 bg-gray-200 p-4 rounded-md text-sm">
            Diseño y desarrollo de estaciones transformadoras y líneas de
            transmisión.
        </p>
        <p class="md:w-1/4 bg-gray-200 p-4 rounded-md text-sm">
            Promoción de proyectos comunitarios y municipales para el ahorro
            energético y la sustentabilidad.
        </p>
    </div>
</article>
