<article class="p-4 md:p-8 bg-gray-100 rounded-2xl flex flex-col md:gap-4">
    <h1 class="text-4xl font-bold bg-gray-100 rounded-xl p-4">
        Nuestros valores
    </h1>
    <section class="flex flex-wrap gap-2">
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white md:w-1/4"
        >
            <h3 class="font-bold">Sustentabilidad:</h3>
            <p class="text-sm">
                Nos comprometemos con el cuidado del medio ambiente,
                desarrollando proyectos que contribuyan a un futuro más limpio.
            </p>
        </article>
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white md:w-1/4"
        >
            <h3 class="font-bold">Innovación:</h3>
            <p class="text-sm">
                Buscamos implementar soluciones tecnológicas de vanguardia en
                todos nuestros proyectos.
            </p>
        </article>
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white md:w-1/4"
        >
            <h3 class="font-bold">Compromiso Social:</h3>
            <p class="text-sm">
                Apostamos al desarrollo de las comunidades locales, generando
                empleo y oportunidades para todos.
            </p>
        </article>
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white md:w-1/4"
        >
            <h3 class="font-bold">Transparencia:</h3>
            <p class="text-sm">
                Actuamos con ética y claridad en nuestras operaciones y
                relaciones con clientes, proveedores y colaboradores.
            </p>
        </article>
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white md:w-1/4"
        >
            <h3 class="font-bold">Excelencia:</h3>
            <p class="text-sm">
                Nos esforzamos por alcanzar los más altos estándares de calidad
                en cada uno de nuestros proyectos.
            </p>
        </article>
    </section>
</article>
