<article class="p-8 bg-gray-100 rounded-2xl flex flex-col gap-4">
    <h1 class="text-4xl font-bold bg-gray-100 rounded-xl p-4">
        Nuestros valores
    </h1>
    <section class="flex flex-wrap gap-2">
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white max-w-md"
        >
            <h3 class="font-bold">Sustentabilidad</h3>
            <p class="text-sm">
                Nos comprometemos con el cuidado del medio ambiente,
                desarrollando proyectos que contribuyan a un futuro más limpio.
            </p>
        </article>
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white w-1/3"
        >
            <h3 class="font-bold">Sustentabilidad</h3>
            <p class="text-sm">
                Nos comprometemos con el cuidado del medio ambiente,
                desarrollando proyectos que contribuyan a un futuro más limpio.
            </p>
        </article>
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white w-1/3"
        >
            <h3 class="font-bold">Sustentabilidad</h3>
            <p class="text-sm">
                Nos comprometemos con el cuidado del medio ambiente,
                desarrollando proyectos que contribuyan a un futuro más limpio.
            </p>
        </article>
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white max-w-md"
        >
            <h3 class="font-bold">Sustentabilidad</h3>
            <p class="text-sm">
                Nos comprometemos con el cuidado del medio ambiente,
                desarrollando proyectos que contribuyan a un futuro más limpio.
            </p>
        </article>
        <article
            class="flex flex-col gap-2 rounded-xl p-4 bg-primary_variant_1 text-white w-1/3"
        >
            <h3 class="font-bold">Sustentabilidad</h3>
            <p class="text-sm">
                Nos comprometemos con el cuidado del medio ambiente,
                desarrollando proyectos que contribuyan a un futuro más limpio.
            </p>
        </article>
    </section>
</article>
